<div style="height: 320px; width: 900px; overflow: scroll; margin-bottom: 25px; border: 1px solid #C0C0C0;">
    <table class="table table-striped table-hover" style="empty-cells: show;" ng-class="info.toggleTableClick ? 'tableClickSelect':'tableHoverSelect'">
        <tr ng-repeat="path in paths" ng-class="selectedRow==$index ? 'info':''" ng-click="neighborhoodHighlight(path, $index, true);">
            <td>{{$index + 1}}</td>
            <td>
                <i ng-show="highlightThesePaths.hasOwnProperty($index)" style="color: green;" class="fa fa-toggle-on fa-lg" aria-hidden="true"></i>
                <i ng-show="!highlightThesePaths.hasOwnProperty($index)" class="fa fa-toggle-off fa-lg" aria-hidden="true"></i>
            </td>
            <td ng-repeat="n in path track by $index">
                <span style="font-weight: bold;" ng-if="$index % 2 == 0">{{n}}</span>
                <span ng-if="$index % 2 != 0">{{n}}</span>
            </td>
        </tr>
    </table>
</div>
<div id="graphIsLoading" style="width: 200px; margin-left: 50px;"></div>
<div style="height: 20px; width: 900px;">
    <div class="pull-right" style="margin-left: 10px;">Target Nodes <span class="label label-default" style="background-color: #EDF100;">&nbsp;</span></div>
    <div class="pull-right" style="margin-left: 10px;">In-between Nodes <span class="label label-default" style="background-color: #ECECEC;">&nbsp;</span></div>
    <div class="pull-right" style="margin-left: 10px;">Source Nodes <span class="label label-default" style="background-color: #16F500;">&nbsp;</span></div>
    <div class="pull-left" style="margin-left: 10px; margin-top: -13px;"><div class="btn btn-primary btn=xs" ng-click="clearHighlight()" ng-show="selectedRow != 99">Show All</div></div>
</div>
<div id="mynetwork" style="width: 900px; height: 600px; border: 1px solid #C0C0C0; margin-top: 5px;"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
